
body {
	 font: 10pt "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
}
div#container {
	 min-width: 700px;
	 margin-left: 20px;
	 margin-right: 20px;
	 margin-top: 20px;
	 margin-bottom: 30px;
	 background: #f0f0f0;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 -moz-box-shadow: 1px 1px 9px #888;
	 padding: 5px 15px 5px 15px;
}
div#titletxt {
	 margin: -150px 0 30px 240px;
	 height: 70px;
}
div#filler {
	 width: 100%;
	 height: 160px;
	 background: url("filler.png");
	 padding: 0;
	 margin: 0;
	 margin-top: 5px;
	 -moz-box-shadow: 1px 1px 5px #888;
}
img#treeimg {
	 margin-top: 0;
}

/* Donations */

form#donate {
	 text-align: center;
	 margin-top: 1ex;
	 margin-bottom: 1ex;
}

/* Layout containers */

div#linkbar {
	 margin-right: 135px;
	 display: inline;
}
div#main {
	 margin-right: 135px;
	 display: inline;
}
div#sidebar {
	 margin-top: 16px;
	 float: right;
	 display: inline;
	 width: 125px;	 
	 margin-left: 10px;
}
div#flush {
	 clear: both;
}


/* Title color/style */

#title h1 {
    font-size: 30px;
	 color: #b00000;
}
#title h2 {
    font-size: 11pt;
	 font-weight: normal;
	 color: black;
	 border-bottom: 0px;
}

/* Menu */

ul#menubar {
	 margin-top: 0px;
	 margin-bottom: 35px;
	 margin-right: 2ex;
	 text-align: right;
}

#menubar li {
	 display: inline;
	 background: #b00000;
	 color: white;
	 font-weight: bold;
	 padding: .5ex 1ex .5ex 1ex;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 -moz-box-shadow: 1px 1px 9px #888;
}
#menubar li:hover {
	 background: #009000;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 -moz-box-shadow: 1px 1px 6px #888;	 
}

#menubar a {
	 text-decoration: none;
	 color: white;
}

/* Main color/style */

div#share {
	 position: absolute;
	 right: 50px;
	 top: 36px;
}
div#plusone {
	 position: absolute;
	 left: 50px;
	 top: 36px;
}

#main h2 {
	 margin-top: 2ex;
	 margin-right: 135px;
	 display: block;
	 background: #b00000;
	 color: white;
	 padding-left: 1ex;
	 -moz-border-radius: 2px;
	 -webkit-border-radius: 2px;
	 -moz-box-shadow: 1px 1px 9px #888;
}
div.text {
	 margin-left: 120px;
	 margin-bottom: 2ex;
	 margin-right: 145px;
}
div.license {
	 margin-left: 140px;
	 margin-bottom: 2ex;
	 margin-right: 155px;
}
div.filename {
	 margin-left: 200px;
	 margin-bottom: 1ex;
}
img.structure {
	 margin-top: 1ex;
	 margin-bottom: 1ex;
	 margin-left: 3ex;
}
dd {
	 margin-bottom: 2ex;
}

img {
	 border-style: none;
}

/* Code listing */

div.code {
	 margin: 1ex;
	 width: 90%;
	 border: dotted 1px black;
	 background: #f8f8f8;
	 font-size: 8pt;
	 padding: 1ex;
}
.code pre { 
	 white-space: pre-wrap;
}
